@import './variables';
@import './image';
@import './text';
@import './stars';
@import './value';
@import './button';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  border: 1px solid $color-white;
  border-radius: 5px;
  justify-content: center;
}
