@import './image';
@import './text';
@import './stars';
@import './value';
@import './button';

body {
  margin: 0;
}

.card {
  width: 200px;
  height: 408px;
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  border: 1px solid #F3F3F3;
}
