.card {
  &__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 18px;
    margin-bottom: 16px;
  }

  &__price {
    font-family: $font-main;
    font-weight: 400;
    font-size: 12px;
    color: $color-text-second;
    align-items: center;
    margin: 0;
  }

  &__cost {
    font-family: $font-main;
    font-weight: 700;
    font-size: 16px;
    color: $color-text-main;
    margin: 0;
  }
}
